{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load widget_tweaks %}


  
<div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{{ detail.image.url }}" alt={{media_url}} width="140" height="140">
      <h2>{{detail.user.first_name}}  {{detail.user.last_name}}</h2>
      <p class="lead">Bu profil sayfası bilgileriniz içermektedir. Her kullanıcı sadece kendi profilini görecektir.</p>
    </div>

    <div class="row">
      

      <form method="post" novalidate >
          {% csrf_token %}
   
          {% for field in form %}
   
              <div class = "form-group" >
   
                  {{field.label_tag}}

                  {% if form.is_bound %}
                       {% if field.errors %}
                           {% render_field field class="form-control is-invalid" %}
                           {% for error in field.errors %}
                               <div class="invalid-feedback">
                                   {{error}}
                               </div>
                           {% endfor %}
                       {% else %}
                           {% render_field field class="form-control is-valid" %}
                       {% endif %}
                      {% else %}
                       {% render_field field class="form-control" %}
                      {% endif %}
                      {% if field.help_text %}
                        <small class="form-text text-muted" >
                           {{ field.help_text }}
                        </small>
                      {% endif %}
   
              </div>
   
          {% endfor %}
           <button type ="submit" class="btn btn-success">Post</button>
   
       </form>
   
      
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}